<% if current_user.pending_user_friendships.any? %>
  <% @user_friendships.each do |friendship| %>
    <% if friendship.pending? %>
    	<div class="pending">
      
        <div class="pending-friendship">
                <%= render "friend_avatar", object: friendship.friend %>
        <span class="friend-name"><%= link_to friendship.friend.full_name, user_path(friendship.friend) %></span>
        - <em>Friendship is pending</em> 
        </div>
        
        <div class="pending-friend">
                <%= form_for friendship, url: user_friendship_path(friendship), class: "delete-friendship-button", method: :delete do |form| %>
          <%= submit_tag "Delete request", class: "button radius tiny" %>
        <% end %>
        </div>
        
  	  </div>  
    <% end %>
  <% end %> 
<% else %>
  <h4>You have no pending requests!</h4>
<% end %>


