<% provide(:title, "Study partners") %>
<div class="row">
  <div class="small-12 large-12 large-centered columns">

    <div class="large-5 columns">

      <div class="row">
        <div><h1>Study partners</h1></div>
          <div class="accepted-study-partners">
            <%= render "accepted_study_partners" %>
          </div> 
      </div>

      <div class="row">
        <div><h2>Blocked study partners</h2></div>
          <div class="blocked-study-partners">
            <%= render "blocked_study_partners" %>
          </div>
      </div>

    </div>

    <div class="large-7 columns">

      <div><h2>Pending study partners</h2></div>
        <div class="pending-study-partners">
          
            <%= render "pending_study_partners" %> 

        </div>
      
      <div><h2>Study partner requests</h2></div>
        <div class="study-partner-requests">
          <%= render "study_partner_requests" %>
        </div>
    </div>
  </div>
</div>


