<% if response == "yes" %>

	<span class="label meetup-attend">Attending</span>

<% elsif response == "no" %>
	
	<span class="label meetup-decline">Declined</span>

<% elsif response == "maybe" %>

	<span class="label meetup-maybe">Maybe</span>

<% else %>
	
	<span class="label meetup-waiting">Awaiting reply</span>

<% end %>