<% if @topic.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@topic.errors.count, "error") %> prohibited this subject from being saved:</h4>

    <ul>
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>