<% current_user.subjects.uniq.each do |subject| %>

	<span class="subject-name"><%= subject.name %></span>

	<br>

	<br>

	<% current_user.topics.each do |topic| %>

		<% if topic.subject_id == subject.id %>
			
			<b>Topic:</b> <%= topic.name %>

			<b>Experience:</b> <%= topic.experience %>

			<%= link_to "Delete topic", topic, class: "delete-topic", data: {confirm: "Are you sure?"}, method: :delete %>
			
			<br>
		<% end %>

	<% end %>

	<hr>

<% end %>