<% provide(:title, "Edit") %>

<div class="row">
	<div class="small-12 large-6 large-centered columns">

		<div class="text-center"><h1>Subjects I am studying</h1></div>

		<%= render "form" %>

	</div>
</div>