<div class="profile-infowindow">
    <div class="profile-name">
      <% if user.image_url(:thumb) %>
        <%= image_tag user.image_url(:thumb), id: "avatar-image" %>
      <% else %>
        <%= image_tag "default.png" %>
      <% end %>
    </div>
    <div class="profile-info">
      <h3><%= link_to user.first_name, user, class: "bigger" %></h3>
      <p><%= link_to "See full bio", "#" %></p>
    </div>
</div>