<li id="infoview" style="width:180px">

	<% if @user.image_url(:thumb) %>
	  <%= image_tag user.image_url(:thumb) %>
	<% else %>
	  <%= image_tag "default.png" %>
	<% end %>

    <span id="infoface"><%= link_to user.first_name, user %></span>

    <% if user.admin? && !current_user %>

      | <%= link_to "Delete", user, confirm: "Are you sure?", method: :delete %>


    <% end %>
  
  
</li>