<% provide(:title, "Edit") %>

<div class="row">
	<div class="small-12 large-6 large-centered columns">

		<div class="text-center"><h1>Settings</h1></div>

		<%= render "form" %>

    		<%= link_to "Change", "http://gravatar.com/emails", target: "_blank" %>

	</div>
</div>