<% provide(:title, @user.first_name) %>

<div class="row">
  <div class="small-12 large-4 columns">
    <div class="users">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.first_name %>
    </h1>
    </div>
    <p><%= @user.email %></p>
  </div>	
</div>  






