@import "bootstrap";

$profile-gray: darken(#f2f2f2, 5%);

.name{
  padding: 13px 0 0 60px;
  font-size: 23px;
  background-color: none;
}

.navbar {
  margin: 0;
  height: 60px;
}

.navbar-inverse{
  background-color: white;
  border-color: #A3A3A3;
}

nav{
  height: 100px;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #999999;
}

.navbar-inverse .navbar-toggle{
  border-color: #999999;
}

.navbar-toggle{
  border: 1px solid #999999;
}

.navbar-nav{
  margin: 0 -15px;
  background-color: white;
}

.navbar-inverse .navbar-collapse{
  padding-top: 3px;
}

a{
  color: #999999;
  background-color: white;
  &:hover{
    text-decoration: none;
    color: #383838;
  }
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  background-color: white;
  color: #383838;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover{
  background-color: #333333;
  color: #333333;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.tooltip > .tooltip-inner {
    background-color: #ffffff;
    color:black;
    border: 1px solid #428bca;
    border-radius:5px;
    width: 20em;
    font-size: 1.3em;
}

.modal-header {
  padding: 15px;
  background-color: #3D3D3D;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px;
  color: white;
  text-align: center;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 500px;
  }
}

.modal-footer{
  padding: 10px 20px 10px;
}

.close-modal{
  font-weight: bold;
  border: 0;
  float: right;
  background: none;
}

.logo{
  padding: 10px;
}

.oauth-buttons{
  text-align:center;
}

.oauth-login-form{
  padding: 10px 80px 0 80px;
}

.remember-me-box{
  padding: 10px 0 10px 0;
}

.jumbotron {
  background: transparent;
  padding: 50px 0 0 0;
}

.jumbotron{
  padding-bottom: 0;
}

.feature-headline{
  padding: 50px;
}

.tingz{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 100%;
  background-size: cover;
  background: no-repeat center center fixed;
}

.image-container{
  background-image:image-url("background.png");
  height:531px;
}

.featurette{
  padding: 30px 50px 30px 0;
  margin: 0 50px 0 30px;
}

@media all and (max-width: 1000px) and (min-width: 300px){
  #home-heading{
    display: none;
  }
}

#home-heading{
  margin: 4em 0 0 0;
  text-align:center;
  font-size: 3.5em;
}

#headliner{
  padding: 5px;
  background-color: white;
  border: 1px white solid;
  border-radius: 5px;
  opacity: 0.9;
}

.image-squeeze{
  width:100%;
}
.small-text-space{
  padding-left: 50px;
}

.text-space{
  padding-left: 80px;
}

@media (max-width: 1300px) and (min-width: 990px){
  .featurette{
  margin: 100px;
  height: 300px;
}
}

@media (max-width: 990px) and (min-width: 600px){
  .push-margin-2{
    margin-left: 23.3333%;
  }
  .push-margin-1{
    margin-left: 13.33333%
  }
  .pull-margin-1{
    margin-right: 13.3333%;
  }
  .small-text-space{
    padding-left: 10px;
  }
  .featurette{
    margin: 0 100px 0 100px;
  }
  .text-space{
    padding-left: 100px;
  }
}

@media (max-width: 785px) and (min-width: 400px){
  .small-bar{
    display: none;
  }
  .xs-padding{
    padding: 30px;
  }
  hr.featurette-divider{
    width: 80%;
    margin-left: 40px;
  }
}

.tingz > div { 
    position: absolute; 
}

.featurette-divider, .featurette-divider-small{
  width: 90%;
  margin:auto;
}

@media (max-width: 700px) and (min-width: 200px){
  .featurette-divider-small{
    display: none;
  }
}

.small-bar{
  height: 150px;
  padding: 20px 40px 0 70px;
}


footer{
  padding: 0 70px 0 60px;
}

.home-sidebar{
  height: 400px;
  position: relative;
  z-index: 500;
  padding: 30px 20px 10px 20px;
  margin: 3em 0.3em 0 0.3em;
  border: 1px solid rgba(33,33,33,0.8);
  border-radius: 5px;
  background-color: rgba(33,33,33,0.8);
  overflow: auto;
}

.sidebar-title{
  font-weight: bold;
  color: white;
}

.profile-container{
  padding: 50px 0px 0 100px;
}

@media screen and (max-width: 1200px){
  .profile-container{
    padding: 50px 0px 0 0;
  }
}

@media screen and (max-width: 768px){
  .profile-container{
    padding: 50px 0px 0 0;
  }
}

#logged-in{
  color: #999999;
  padding: 14px 10px 5px 0;
  font-size: 16px;
}

footer{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#debugger{
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.5em;
    color: red;
}

.users, #users-map{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0 0 20px;
  }
}

.label{
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.meetup-attend {
  border: 3px solid green;
  border-radius: 5px;
  background-color: green;
  font-size: 1em;
  padding: 4px;

}

.meetup-decline {
  border: 3px solid red;
  border-radius: 5px;
  background-color: red;
  font-size: 1em;
  padding: 3px;
}

.meetup-maybe {
  border: 3px solid #AEB404;
  border-radius: 5px;
  background-color: #AEB404;
  font-size: 1em;
  padding: 3px;
}

.meetup-waiting {
  border: 3px solid orange;
  border-radius: 5px;
  background-color: orange;
  font-size: 1em;
  padding: 3px;
}

.no-button {
  background-color: transparent;
  border: none;
  color: #0088cc;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

img {
  max-width: none;
}

#user-div{
  color: green;
}

#map-canvas{
  position: relative;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
  border: 3px solid #E6E6E6;
  border-radius: 3px;
  -moz-box-shadow: 0 0 13px #888;
-webkit-box-shadow: 0 0 13px#888;
box-shadow: 0 0 13px #888;

}

#users-map{
  position: fixed;
  top: 45px;
  right: 0;
  bottom: 0;
  width: 40%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #F8F8F9;
}

.user-title{
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
}

hr{
  width: 90%;
  margin-left: 20px;
}

.alerts{
  position: absolute;
  z-index: 1000;
}

.alert-box{
  margin-top: 80px;
}

.user-profile{
  margin: 2em 0 1em 0;
  background-color: white;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
}

.profile-name{
  float:left;
}

.profile-info{
  margin-left: 20px;
}

.profile-infowindow{
  padding: 10px 10px 0 10px;
  width: 250px;
}

.profile-highlight{
  background-color: $profile-gray;
  padding: 10px 10px 0 10px;
  border-radius: 6px 6px 0 0;
}

.user-info{
  padding: 10px;
}

.meetup-show{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.submit-link{
  background-color: transparent;
  border: none;
  color: #0088cc;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
}

.meetup{
  border-bottom: 1px solid #E6E6E6;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.avatar-image{
  border: 1px solid #D8D8D8;
  border-radius: 5px; 
  margin-right: 13px;
}

table{
  border-radius: 5px;
}

#create-meetup{
  font-size: 1.5em;
  margin-top: 0.5em;
  padding-left: 20px;
}

.review-boxes{
  width: 600px;
}

.hidden-bio{
  display:none;
}

.friend-request-form{
  padding-left: 20px;
}

.friend-name{
  font-weight: bold;
}

.delete-friendship{
  background-color: #F42525;
  border: 1px solid #F42525;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.delete-friendship:hover{
  color: #D3C9C9;
  background-color: #BA0C0C;
}

.pending-friendship, .requested-friendship, .accepted-friendship{
  float:left;
  padding: 0 20px 20px;
}

.pending-friend{
  float:left;
  padding: 18px;
}

.requested-friendship{
  padding: 10px;
}

.accepted-avatar, .blocked-avatar{
  float:left;
}

.accepted-friend{
  padding: 5px;
  float:left;
}

#search-box{
  font-size: 23px;
  margin: 0.3em 12.3em 0.5em 0;
}

#search-button{
  background-color: #3276b1;
  padding: 0.6em;
  border: 0.1em solid #3276b1;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color:white;
  float:left;
  &:hover{
    cursor: pointer;
  }
}

.user-found{
  color:darken(#F4F4F4, 50%);
  margin-right: 3em;
}

#search-form{
    display:block;
    float:left;
    padding:8px;
    margin:10px 20px 10px 20px;
    border:1px solid #666666;
    border-radius: 3px;
    width:29.5em;
    height:27em;
    background-color:white;
    color:darken(#F4F4F4, 50%);
    position:absolute;
  }

.subject-name{
  font-size: 23px;
}

table {
  border-collapse: separate;
  background:#fff;
  border-radius: 5px;
  margin:20px auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  width: 100%;
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:20px 20px 20px 20px;
}

tbody tr:nth-child(2n) {
  background:#f7f7f7;
}

tbody tr:last-child td {
  border-bottom:none;
  &:first-child {
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-bottom-right-radius: 5px;
  }
}

tbody:hover > tr td {
  opacity: 0.5;
  
}

tbody:hover > tr:hover td {
  text-shadow: none;
  color:#2d2d2d;
  opacity: 1.0;
}

thead {
  border-radius: 5px;
}

thead th {
  font-size:16px;
  font-weight:400;
  color:black;
  font-weight:bold;
  text-align:left;
  padding:20px;
  background-color: darken(#f2f2f2, 5%);
  border-top:1px solid #858d99;
  
  &:first-child {
   border-top-left-radius: 5px; 
  }

  &:last-child {
    border-top-right-radius: 5px; 
  }
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  color: black;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{
  color:black;
}


.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: black;
   background-color: white;
   border-color: #fff;
}

.canvas{
  background-image: image-url("background.png"); 
  position: relative;
  background-repeat: repeat;
  background-position: left top;
  min-height:100%;
  width: 100%;
  height: auto;
  background-size: 100% 100%;
  background-attachment: fixed;
  z-index: 1;
}

.pad-header{
  padding: 10px;
  text-align: center;
  margin-top: 0;
}

.show-bio{
  color: #3276b1;
  background-color: $profile-gray;
}

#meetup_number_of_people, #meetup_studying{
    display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-container{
  padding: 50px;
}