#logged-in{
  color: #fff;
  padding: 10px;
  font-size: 15px;
}

footer{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#debugger{
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.5em;
    color: red;
}

.meetup, .users, #users-map{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0 0 20px;
  }
}

.meetup-attend {
  border: 3px solid green;
  border-radius: 5px;
  background-color: green;
  font-size: 1em;
  padding: 4px;

}

.meetup-decline {
  border: 3px solid red;
  border-radius: 5px;
  background-color: red;
  font-size: 1em;
  padding: 3px;
}

.meetup-maybe {
  border: 3px solid yellow;
  border-radius: 5px;
  background-color: yellow;
  font-size: 1em;
  padding: 3px;
}

.meetup-waiting {
  border: 3px solid orange;
  border-radius: 5px;
  background-color: orange;
  font-size: 1em;
  padding: 3px;
}

.no-button {
  background-color: transparent;
  border: none;
  color: #0088cc;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

img {
  max-width: none;
}

#user-div{
  color: green;
}

#map-canvas{
  position: relative;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
}

#users-map{
  position: fixed;
  top: 45px;
  right: 0;
  bottom: 0;
  width: 40%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #F8F8F9;
}

.user-title{
  text-align: center;
}

#infoview{
  list-style-type: none;
}

#infoface{
  margin: 15px;
}

hr{
  width: 90%;
  margin-left: 20px;
}

#home-search{
  background-color: orange;
}

#home-heading{
  margin-top: 17em;
}

#headliner{
  font-size: 3.5em;
  padding: 20px;
}

.home-sidebar{
  margin: 11em 4em 10em 3em;
  position: relative;
  z-index: 1000;
  padding: 20px;
  background-color: white;
  overflow: auto;
  border: gray 2px solid;
  border-radius: 8px;
}

.tingz{
  z-index: -1000;
  position: fixed;
  width: 100%;
  height: 100%;
}


.alerts{
  position: relative;
  z-index: 1000;
}

.alert-box{
  margin-top: 20px;
}







