#logged-in{
  color: #fff;
  padding: 10px;
  font-size: 15px;
}

footer{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#debugger{
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.5em;
    color: red;
}

.users, #users-map{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0 0 20px;
  }
}

.label{
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.meetup-attend {
  border: 3px solid green;
  border-radius: 5px;
  background-color: green;
  font-size: 1em;
  padding: 4px;

}

.meetup-decline {
  border: 3px solid red;
  border-radius: 5px;
  background-color: red;
  font-size: 1em;
  padding: 3px;
}

.meetup-maybe {
  border: 3px solid #AEB404;
  border-radius: 5px;
  background-color: #AEB404;
  font-size: 1em;
  padding: 3px;
}

.meetup-waiting {
  border: 3px solid orange;
  border-radius: 5px;
  background-color: orange;
  font-size: 1em;
  padding: 3px;
}

.no-button {
  background-color: transparent;
  border: none;
  color: #0088cc;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

img {
  max-width: none;
}

#user-div{
  color: green;
}

#map-canvas{
  position: relative;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
  border: 3px solid #E6E6E6;
  border-radius: 3px;
  -moz-box-shadow: 0 0 13px #888;
-webkit-box-shadow: 0 0 13px#888;
box-shadow: 0 0 13px #888;

}

#users-map{
  position: fixed;
  top: 45px;
  right: 0;
  bottom: 0;
  width: 40%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #F8F8F9;
}

.user-title{
  text-align: center;
}

#infoview{
  list-style-type: none;
}

#infoface{
  margin: 15px;
}

hr{
  width: 90%;
  margin-left: 20px;
}

#home-search{
  background-color: orange;
}

#home-heading{
  margin-top: 17em;
}

#headliner{
  font-size: 3.5em;
  padding: 20px;
}

.home-sidebar{
  margin: 11em 4em 10em 3em;
  position: relative;
  z-index: 1000;
  padding: 20px;
  background-color: white;
  overflow: auto;
  border: gray 2px solid;
  border-radius: 8px;
}

.tingz{
  z-index: -1000;
  position: fixed;
  width: 100%;
  height: 100%;
}


.alerts{
  position: relative;
  z-index: 1000;
}

.alert-box{
  margin-top: 20px;
}

.user-profile{
  margin: 1.8em 0 1em 0;
  background-color: white;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
}

.profile-highlight{
  background-color: #F2F2F2;
  padding: 10px 10px 0 10px;
}

.user-info{
  padding: 10px;
}

.meetup-show{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.submit-link{
  background-color: transparent;
  border: none;
  color: #0088cc;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
}

.meetup{
  border-bottom: 1px solid #E6E6E6;
  margin: 10px 0 10px 0;
  padding: 10px;
}

#avatar-image{
  border: 1px solid #D8D8D8;
  border-radius: 5px; 
}

table{
  border-radius: 5px;
}

#create-meetup{
  font-size: 1.5em;
  margin-top: 0.5em;
}

.review-boxes{
  width: 600px;
}

#meetup-info{
  margin-left: 1.5em;
}


