.value {
padding-left: 12.5px;
padding-right: 12.5px;
}

.value {
width: 41.66667%;
}

.value {
float: left;
position: relative;
min-height: 1px;
}

* {
	box-sizing: border-box;
}

div {
display: block;
}

